<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/master_layout}">
<head>
    <title>BHD</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div layout:fragment="content">
    <div class="menuall">
        <div class="movie">
            <a href="">PHIM ĐANG CHIẾU</a>
            <a href="">PHIM SẮP CHIẾU</a>
            <a href="">VÉ BÁN TRƯỚC</a>
        </div>
        <div class="chonphim">
            <div class="phim">
                <div class="anh"><a href=""><img src="9c636c0ee7c4359ac119046106b1ad1c.jpg" alt=""></a></div>
                <h3><a href="">TÊN PHIM</a></h3>
                <div class="nut">
                    <div class="xanh"></div>
                    <a href=""><i class="fa fa-ticket" aria-hidden="true">MUA VÉ</i></a>
                </div>
            </div>
            <div class="phim">
                <div class="anh"><a href=""><img src="9c636c0ee7c4359ac119046106b1ad1c.jpg" alt=""></a></div>
                <h3><a href="">TÊN PHIM</a></h3>
                <div class="nut">
                    <div class="xanh"></div>
                    <a href=""><i class="fa fa-ticket" aria-hidden="true">MUA VÉ</i></a>
                </div>
            </div>
            <div class="phim">
                <div class="anh"><a href=""><img src="9c636c0ee7c4359ac119046106b1ad1c.jpg" alt=""></a></div>
                <h3><a href="">TÊN PHIM</a></h3>
                <div class="nut">
                    <div class="xanh"></div>
                    <a href=""><i class="fa fa-ticket" aria-hidden="true">MUA VÉ</i></a>
                </div>
            </div>
            <div class="phim">
                <div class="anh"><a href=""><img src="9c636c0ee7c4359ac119046106b1ad1c.jpg" alt=""></a></div>
                <h3><a href="">TÊN PHIM</a></h3>
                <div class="nut">
                    <a href=""><i class="fa fa-ticket" aria-hidden="true">MUA VÉ</i></a>
                </div>
            </div>
            <div class="phim">
                <div class="anh"><a href=""><img src="9c636c0ee7c4359ac119046106b1ad1c.jpg" alt=""></a></div>
                <h3><a href="">TÊN PHIM</a></h3>
                <div class="nut">
                    <div class="xanh"></div>
                    <a href=""><i class="fa fa-ticket" aria-hidden="true">MUA VÉ</i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- menu -->

<!-- menu -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


</body>
</html>