<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/master_layout"
      layout:decorate="~{fragments/master_layout}">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <div class="row">
        <div class="col-md-6 col-lg-6 div-left">
            <div class="login-left card">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form action="#" th:action="@{/login}" method="post">
                        <table>
                            <tr class="form-group">
                                <td><label>Username(*)</label></td>
                                <td><input type="text" name="username"/></td>
                            </tr>
                            <tr class="form-group">
                                <td><label>Password(*)</label></td>
                                <td><input type="password" name="password"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Login"/></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 div-right">
            <!-- Register -->
            <div class="register-right card">
                <div class="card-header">Register new member</div>
                <div class="card-body">
                    <form action="#" th:action="@{/users/registerProcess}" th:object="${user}" method="post">
                        <div th:if="${exist}">
                            <p class="text text-danger">Username or email address is already existed</p>
                        </div>
                        <table>
                            <tr class="form-group">
                                <td><label for="username">Username(*)</label></td>
                                <td><input class="form-control" id="username" type="text" th:field="*{username}"/></td>
                                <td class="text text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
                            </tr>
                            <tr class="form-group">
                                <td><label>Password(*)</label></td>
                                <td><input id="password" type="password" th:field="*{password}"/></td>
                                <td class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
                            </tr>
                            <tr class="form-group">
                                <td><label>Email(*)</label></td>
                                <td><input id="email" type="text" th:field="*{email}"/></td>
                                <td class="text-danger text" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
                            </tr>
                            <tr class="form-group">
                                <td><label>Full Name(*)</label></td>
                                <td><input id="fullname" type="text" th:field="*{fullname}"/></td>
                                <td class="text-danger text" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></td>
                            </tr>
                            <tr class="form-group">
                                <td><label>Phone Number(*)</label></td>
                                <td><input id="telephone" type="text" th:field="*{telephone}"/></td>
                                <td class="text-danger text" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></td>
                            </tr>
                            <tr class="form-group">
                                <td><label>Date of Birth</label></td>
                                <td><input id="DOB" type="date" th:field="*{DOB}"/></td>
                                <td class="text-danger text" th:if="${#fields.hasErrors('DOB')}" th:errors="*{DOB}"></td>
                            </tr>
                            <tr class="form-group">
                                <td><label>Gender</label></td>
                                <td>
                                    <select th:field="*{gender}">
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                    </select>
                                </td>
                                <td class="text-danger text" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></td>
                            </tr>
                            <tr class="form-group">
                                <td><label>Address</label></td>
                                <td><input id="address" type="text" th:field="*{address}"/></td>
                                <td class="text-danger text" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></td>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Register"/></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


</body>
</html>