<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <!-- Login -->
    <!--<div class="login-left card">-->
        <!--<div class="card-header">Login</div>-->
        <!--<div class="card-body">-->
            <!--<form action="#" th:action="@{/login}" method="post">-->
                <!--<table>-->
                    <!--<tr class="form-group">-->
                        <!--<td><label>Username(*)</label></td>-->
                        <!--<td><input type="text"/></td>-->
                    <!--</tr>-->
                    <!--<tr class="form-group">-->
                        <!--<td><label>Password(*)</label></td>-->
                        <!--<td><input type="text"/></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td><input type="submit" value="Login"/></td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
    <!-- Register -->
    <div class="register-right card">
        <div class="card-header">Register new member</div>
        <div class="card-body">
            <form action="#" th:action="@{/users/signup}" th:object="${user}" method="post">
                    <table>
                    <tr class="form-group">
                        <td><label for="username" >Username(*)</label></td>
                        <td><input class="form-control" id="username" type="text" th:field="*{username}"/></td>
                        <td class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error Gender</td>
                    </tr>
                    <tr class="form-group">
                        <td><label>Password(*)</label></td>
                        <td><input id="password" type="password" th:field="*{password}"/></td>
                        <!--<div class="text text-danger" th:if="$(#field.hasErrors('password'))" th:errors="*{password}"></div>-->
                        <td class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error Gender</td>
                    </tr>
                    <tr class="form-group">
                        <td><label>Email(*)</label></td>
                        <td><input id="email" type="text" th:field="*{email}"/></td>
                        <!--<div class="text text-danger" th:if="$(#field.hasErrors('email'))" th:errors="*{email}"></div>-->
                    </tr>
                    <tr class="form-group">
                        <td><label>Full Name(*)</label></td>
                        <td><input id="fullname" type="text" th:field="*{fullname}"/></td>
                        <!--<div class="text text-danger" th:if="$(#field.hasErrors('fullname'))" th:errors="*{fullname}"></div>-->
                    </tr>
                    <tr class="form-group">
                        <td><label>Phone Number(*)</label></td>
                        <td><input id="telephone" type="text" th:field="*{telephone}"/></td>
                        <!--<div class="text text-danger" th:if="$(#field.hasErrors('telephone'))" th:errors="*{telephone}"></div>-->
                    </tr>
                    <tr class="form-group">
                        <td><label>Date of Birth</label></td>
                        <td><input id="DOB" type="date" th:field="*{DOB}"/></td>
                        <!--<div class="text text-danger" th:if="$(#field.hasErrors('DOB'))" th:errors="*{DOB}"></div>-->
                    </tr>
                    <tr class="form-group">
                        <td><label>Address</label></td>
                        <td><input id="address" type="text" th:field="*{address}"/></td>
                        <!--<div class="text text-danger" th:if="$(#field.hasErrors('address'))" th:errors="*{address}"></div>-->
                    </tr>
                    <tr>
                        <td><input type="submit" value="Register"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>