<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/master_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/movie_detail.css}">
</head>
<body>
<div layout:fragment="content" class="movie-detail-wrapper">
    <div class="container movie-detail">
        <div class="movie-detail-title">
            <a th:href="@{/}">Home| </a><span><h3 th:text="${movie.title}"></h3></span>
        </div>
        <div class="movie-detail-content">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img class="movie-img" th:src="@{${movie.poster}}" width="293" height="437"/>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="movie-title">
                        <h3 th:text="${movie.title}"></h3>
                    </div>
                    <div class="movie-description">
                        <p th:text="${movie.description}"></p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Thể loại</h4>
                        </div>
                        <div class="col-md-9">
                            <p th:text="${movie.getCategory().getName()}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Director</h4>
                        </div>
                        <div class="col-md-9">
                            <p th:text="${movie.director}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Cast</h4>
                        </div>
                        <div class="col-md-9">
                            <p th:text="${movie.cast}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Running time</h4>
                        </div>
                        <div class="col-md-9">
                            <p th:text="${movie.duration}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>