<footer th:fragment="footer" xmlns:th="http://www.thymeleaf.org" class="bg-dark">
    <div class="container">
        <div class="row footer-row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h3 class="title text-white">VỀ BHD STAR</h3>
                <ul class="menu list-unstyled">
                    <li class="footer-list"><a href="">About</a></li>
                    <li class="footer-list"><a href="">Cinema System</a></li>
                    <li class="footer-list"><a href="">Recruitment</a></li>
                    <li class="footer-list"><a href="" target="_blank" rel="nofollow">
                        <img style="width: 150px;"
                             th:src="@{//online.gov.vn/PublicImages/2015/08/27/11/20150827110756-dathongbao.png}"
                             alt="Đã thông báo Bộ Công Thương">
                    </a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h3 class="title text-white">QUY ĐỊNH & ĐIỀU KHOẢN</h3>
                <ul class="menu list-unstyled">
                    <li class="footer-list"><a href="">Rights and obligations</a></li>
                    <li class="footer-list"><a href="">Provisions on the use</a></li>
                    <li class="footer-list"><a href="">Provision</a></li>

                </ul>
            </div>
        </div>
        <div class="text-white">
            <p>
                © 2015 BHDStar Cineplex
                Công ty TNHH Một Thành Viên Ngôi Sao Cineplex BHD Việt Nam
                Địa chỉ: Tầng 11, toà nhà Hồng Hà, 25 Lý Thường Kiệt, phường Phan Chu Trinh, quận Hoàn Kiếm, Hà Nội, Việt
                Nam.
                Giấy chứng nhận đăng ký kinh doanh: 0104597158, ngày cấp 15/4/2010; nơi cấp Sở Kế Hoạch và Đầu Tư Thành Phố
                Hà Nội
                Số điện thoại hotline: 19002099
            </p>
        </div>
    </div>
</footer>