<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{views/admin/fragments/master_layout}">
<body>
<div class="div-content" layout:fragment="content">
    <script>
        jQuery(document).ready(function ($) {
            $("a.show-calendar-moc").click(function () {
                var tagId = this.id;
                var movieId = tagId.replace("show-calender-", "");
                alert("Success " + movieId);
            });

            $("input.show-showtime-btn").click(function () {
               var date = $("input.date-pick").val();
               var room_id = $("select.room-pick").children("option:selected").val();
               var find_data = {
                   date:date,
                   room_id:room_id
               }
               alert("Date : " + date + " And Room Id : "+room_id);
               $.ajax({
                   type:"POST",
                   contentType:"application/json",
                   url:"/showtime/getShowtimes",
                   data: JSON.stringify(find_data),
                   cache: false,
                   timeout: 600000,
                   dataType: 'json',
                   success:function (resp) {
                       if(resp.length == 0 || resp == null) {
                           alert("Không có suất chiếu theo ngày và room bạn đã chọn !");
                       }
                       else {
                           $(".choose-show-time-time").show();
                           var text = "";
                           for(var i = 0 ;i<resp.length;i++) {
                               text += '<option class="show-time-time" >';
                               text += resp[i].time;
                               text += '</option>';
                           }
                           $(".select-show-time").html(text);
                       }
                   },
                   error:function () {
                       console.log("Lỗi");
                   }
               });
            });
        })

        function checkDelete(id) {
            if (confirm('Are you sure to delete this movie ?') == true) {
                window.location.href = "http://localhost:8080/admin/movie/delete?movieId=" + id;
            }
        }
    </script>
    <!-- TITLE -->
    <div class="row page-title clearfix"><h5 class="mr-0 mr-r-5">List Movie</h5></div>
    <!-- TABLE -->
    <div class="widget-list">
        <div class="widget-holder">
            <div class="widget-bg">
                <div class="widget-body">
                    <div th:if="${message != null && message != ''}">
                        <div th:if="${message == 'Edit Successful'}" th:text="${message}"
                             class="alert alert-success"></div>
                        <div th:if="${message == 'Edit Fail'}" th:text="${message}" class="alert alert-success"></div>
                        <div th:if="${message == 'Delete Successful'}" th:text="${message}"
                             class="alert alert-success"></div>
                        <div th:if="${message == 'Delete Fail'}" th:text="${message}" class="alert alert-success"></div>
                    </div>

                    <form class="form-material">
                        <div class="form-group input-group input-has-value">
                            <input type="text" class="form-control datepicker date-pick" value="06/13/2017"> <span
                                class="input-group-addon"><i class="list-icon material-icons">date_range</i></span>
                        </div>

                        <div class="form-group">
                            <select class="form-control room-pick" id="l13">
                                <option value="1">Room 1</option>
                                <option value="2">Room 2</option>
                                <option value="3">Room 3</option>
                                <option value="4">Room 4</option>
                                <option value="5">Room 5</option>
                            </select>
                            <label for="l13">Select Room</label>
                        </div>


                        <div>
                            <input type="button" value="Show" class="btn btn-block btn-success show-showtime-btn"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="widget-list">
        <div class="widget-holder">
            <div class="widget-bg">
                <div class="widget-body show-showtime-item">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>