<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{views/admin/fragments/master_layout}">
<body>
<div class="div-content" layout:fragment="content">
    <script>
        jQuery(document).ready(function ($) {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();


            $('input.date-pick').datepicker('setDate',mm+'/'+dd +'/'+yyyy);
            $(".show-showtime-list").hide();
            $("a.show-calendar-moc").click(function () {
                var tagId = this.id;
                var movieId = tagId.replace("show-calender-", "");
                alert("Success " + movieId);
            });

            $("input.show-showtime-btn").click(function () {
                var date = $("input.date-pick").val();
                var room_id = $("select.room-pick").children("option:selected").val();
                var find_data = {
                    date: date,
                    id: room_id
                }
                alert("Date : " + date + " And Room Id : " + room_id);
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/admin/showtime/getShowtimes",
                    data: JSON.stringify(find_data),
                    cache: false,
                    timeout: 600000,
                    dataType: 'json',
                    success: function (resp) {
                        var text = '';
                        $(".show-showtime-list").show();
                        if (resp.length == 0 || resp == null) {
                            text = '<Label> There&apos;s no Showtime on this date and at this room </Label>'
                            alert("Không có suất chiếu theo ngày và room bạn đã chọn !");
                        } else {

                            var text = "";

                            text += '<Label>Room: </Label> ' + room_id + '<br> <Label>Date: </Label> ' + date;

                                text += '<table class="table"> <thead> <tr> <th>ID</th><th>Start Time</th><th>End Time</th><th>Movie Name</th><th>Duration</th><th>Action</th></tr></thead>'
                                text += '<tbody>'
                            for (var i = 0; i < resp.length; i++) {
                                var time = resp[i].time.split(":");
                                var duration = resp[i].movie.duration;
                                while (duration % 5 != 0){
                                    duration += 1;
                                }
                                duration += 10;
                                while (duration > 60){
                                    duration -= 60;
                                    time[0] = parseInt(time[0]) + 1;
                                }
                                time[1] = parseInt(time[1]) + duration;
                                if (time[1] >=60){
                                    time[1] -= 60;
                                    time[0]+=1;
                                }

                                text += '<tr>'
                                text += '<td>' + resp[i].id + '</td>'
                                text += '<td>' + resp[i].time + '</td>'
                                text += '<td>' + time[0]+':'+time[1]+':'+time[2]+ '</td>'
                                text += '<td>' + resp[i].movie.title + '</td>'
                                text += '<td>' + resp[i].movie.duration +'</td>'
                                text += '<td><a href="#"><i class="material-icons">mode_edit</i></a><a href="#" th:id="${movie.id}" class="delete-button" onclick="checkDelete(this.id)"><i class="material-icons">delete</i></a></td>'
                                text += '</tr>'
                            }
                                text += '</tbody>'
                                text += '</table>'



                        }
                        $(".show-showtime-item").html(text);
                    },
                    error: function () {
                        console.log("Lỗi");
                    }
                });
            });
        })

        function checkDelete(id) {
            if (confirm('Are you sure to delete this movie ?') == true) {
                window.location.href = "http://localhost:8080/admin/movie/delete?movieId=" + id;
            }
        }
    </script>
    <!-- TITLE -->
    <div class="row page-title clearfix"><h5 class="mr-0 mr-r-5">List Movie</h5></div>
    <!-- TABLE -->
    <div class="widget-list">
        <div class="widget-holder">
            <div class="widget-bg">
                <div class="widget-body">
                    <div th:if="${message != null && message != ''}">
                        <div th:if="${message == 'Edit Successful'}" th:text="${message}"
                             class="alert alert-success"></div>
                        <div th:if="${message == 'Edit Fail'}" th:text="${message}" class="alert alert-success"></div>
                        <div th:if="${message == 'Delete Successful'}" th:text="${message}"
                             class="alert alert-success"></div>
                        <div th:if="${message == 'Delete Fail'}" th:text="${message}" class="alert alert-success"></div>
                    </div>

                    <form class="form-material">
                        <div class="form-group input-group input-has-value">
                            <input type="text" class="form-control datepicker date-pick" value=""> <span
                                class="input-group-addon"><i class="list-icon material-icons">date_range</i></span>
                        </div>

                        <div class="form-group">
                            <select class="form-control room-pick" id="l13">
                                <option value="1">Room 1</option>
                                <option value="2">Room 2</option>
                                <option value="3">Room 3</option>
                                <option value="4">Room 4</option>
                                <option value="5">Room 5</option>
                            </select>
                            <label for="l13">Select Room</label>
                        </div>


                        <div>
                            <input type="button" value="Show" class="btn btn-block btn-success show-showtime-btn"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="widget-list show-showtime-list">
        <div class="widget-holder">
            <div class="widget-bg">
                <div class="widget-body show-showtime-item">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>