<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{views/admin/fragments/master_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="div-content" layout:fragment="content">
    <!--<form action="#" th:action="@{/admin/movie}" th:object="${movie}" method="post"></form>-->
    <form class="form-material">
        <div class="col-lg-12">
            <div class="form-group">
                <input class="form-control" id="name" type="text">
                <label for="name">Movie's Title</label>
            </div>
        </div>

        <div class="form-group">
            <textarea class="form-control" id="description" rows="3"></textarea>
            <label for="description">Description</label>
        </div>

        <div class="col-lg-12">
            <div class="form-group">
                <input class="form-control" id="duration" type="number" min="60" max="500">
                <label for="duration">Duration</label>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group">
                <input class="form-control" id="director" type="text">
                <label for="director">Director</label>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group">
                <input class="form-control" id="cast" type="text">
                <label for="cast">Cast</label>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group">
                <input class="form-control" id="poster" type="file">
                <label for="poster">Poster</label>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="form-group">
                <input class="form-control" id="trailer" type="file">
                <label for="trailer">Trailer</label>
            </div>
        </div>

        <div class="form-group">
            <select class="form-control" id="category">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
            </select>
            <label for="category">Select Box</label>
        </div>
    </form>
</div>
</body>
</html>